body {
	font: 1.6em Arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

[hidden] {
  display: none !important;
}

/*Navigation bar styles*/
.navbar-inverse {
	font-size: 120%;
	color: white;
	background-color: #214517;
	background-image: linear-gradient(15deg, #214517, #acb4a5);
	border-color: #9caf9f;
	border-radius: 0;
}

.navbar-inverse .navbar-nav > .active{
      color: white;
      background: #acb4a5;
 }
 
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
      color: white;
      background: #acb4a5;
 }
 
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
      color: white;
      background: #acb4a5;
}

nav div.bottom-nav-bar { 
    height:7px;
    background-color: #acb4a5;

 }

.logo-text, .logo-text:hover {
    margin-left: 5%;
    color:white;
    font-size: 24px;
    text-decoration: none;
}

.logo-area {
   background-color: #214517 !important;
   background-image: linear-gradient(-15deg, #214517, #acb4a5);
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

.protoTree-figure {
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
    margin-top: 1.5%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .main-container {
  padding-top: 60px;
}


 /*End of navigation bar styles */

 /*Activity associated elements: buttons and so on*/
.proto-tree-button, .proto-tree-button:focus {
    background-color: #e5ac9d;
    border: 1px solid #e5ac9d;
    outline: none !important;
    box-shadow: none !important;
}
.proto-tree-button:hover, .proto-tree-button:active, .proto-tree-button:visited {
    background-color: #b7897d !important;
    border: 1px solid  #b7897d;
}

.pipeline-button, .pipeline-button:focus {
    background-color: #90a28b;
    border: 1px solid #90a28b;
    color: #ededed;
    outline: none !important;
    box-shadow: none !important;
}

.pipeline-button:hover, .pipeline-button:active, .pipeline-button:visited{
    background-color: #214517 !important;
    border: 1px solid #214517;
}

.pipeline-button-selected {
    background-color: #214517 !important;
    border: 1px solid #214517;
}


#GoAsync{
	width:7em;
}

div.panel-body {
	padding: 2px;
}

div.panel-default {
    margin-right: 10em;
    width: 20%;
}


label.error {
    font-size:small;
    color: #3399ff;
}

.second-area {
    display: none;
}

#first-area-message, #second-area-message,
#both-areas-message, #one-area-message,
#partial-pipeline-message, #second-area-message-partialP,
#first-area-message-partialP, #malformed-fasta, #malformed-fasta-second,
#malformed-fasta-partialP, #malformed-fasta-second-partialP, #malformed-newick, #cannot-have-ids-and-seqs {
    color: #3F7C7A;
    display: none;
}

#filter-clear {
    margin-top: 5px;
    margin-bottom: 10px;
}

.label-info, .label-info {
    background-color: #acb4a5 !important;
}
 /*End of Activity associated elements: buttons and so on*/

/*Main area and Filter options styles*/
.text-primary, .text-info {
    color: #6e7767;
    font-weight: bold;
}

div.ml-options, div#rpsblast-db, div.cov-cutoff, div.number-of-replicates {
    display: none;
}

div.nj-and-options, div#hmmer-db {
    display: null;
}

div.secondary-buttons, div.options {
    display: flex;
    justify-content:center;
    padding-top: 4px;
}

div.query-area {
    padding-left: 7%;
}

div.result-area {
    padding-left: 2%;
}

.my-textarea {
	max-width: 50%;
}

.glyphicon.glyphicon-option-horizontal {
    font-size: 1.5em;
}

.main-container {
    min-height: calc(100vh - 330px);
    margin-top: 120px;
}

.switcher {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.switch-text {
    padding-top: 7px;
}

.stage-element {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    font-size: 115%;
    margin-left: 4%;
}

#check-later {
    margin-left: 4%;
    margin-bottom: 5px;
}

#result-stageDetails {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    margin-left: 4%;
}

.complete {
    color: #406336;
    margin-left: 5px;
}

.navigator {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
}

#full-pipeline {
    margin-left: 33%;
    margin-bottom: 3%;
    width: 140px;
    height: 38px;
}
#partial-pipeline {
    margin-left: 33%;
    width: 140px;
    height: 38px;
}

.partial-pipe {
    display: none;
}

.partial-pipe-file {
    border-style: groove;
    border-width: 2px;
    border-radius: 5px;
    margin-bottom: 7px;
}

.partial-pipe-interior {
    padding: 20px;
}

#isFullPipeline {
    display: none;
}

#moto {
    font-weight: bold;
}

.help-div {
    max-width: 70%;
    margin-left: 15%;
    border-radius: 5px;
}

.about-div {
    line-height: 1.6;
    max-width: 70%;
    margin-left: 15%;
    margin-bottom: 4%;
}

.h3-about {
    font-weight: bold;
}

.home-description {
    font-size: 18px;
}

.move-text {
    margin-left: 30px;
}

.text-head3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.text-head4 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.form-control:focus {
  border-color: #db8c8d;
  box-shadow: inset 0 1px 1px #db8c8d, 0 0 8px #db8c8d;
}

a, a:hover, a:focus, a:active {
    color: #cb2e2e;
}
/*End of main area and filter options styles*/


/*Results area */
div.result-container {
    display: none;
    padding: 7px;
}

div.no-such-biojob, div.server-error {
    font-size: 115%;
    margin-left: 4%;
    display: none;
}

div.raw-files-containers {
    padding-bottom: 3em;
}

div.protein-info-container {
    border: 1.3px solid #acb4a5;
    border-radius: 5px;
    background-color: white;
    width: 560px;
    padding-left: 7px;
    padding-right: 7px;
}

.protein-info-buttons, .protein-info-buttons:focus {
    margin-bottom: 7px;
    margin-right: 1px;
    color: white !important;
    background-color: #acb4a5;
    border: 1px solid #acb4a5;
    outline: none !important;

}

.protein-info-buttons:hover, .protein-info-buttons:active, .protein-info-buttons-selected {
    margin-bottom: 7px;
    margin-right: 1px;
    color: white !important;
    background-color: #406336;
    border: 1px solid #406336;
    outline: none !important;
}

.proto-tree-link, proto-tree-link {
    color: #acb4a5;
}

.proto-tree-link:hover, .proto-tree-link:active {
    color: #406336;
}

#pipelineProgressBar {
    background-color: #db8c8d;
}
/*End of Results container and raw files container*/

/*Footer*/

.social {
    background-color: #acb4a5;
    font-size: 170%;
    border-radius: 50%;
    border-width: 2px;
    border-color: white;
    color: white;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-bottom: 5px;
}

.social:hover, .social:active, .social:visited {
    background-color: white;
    color: #1DA1F2;
    border-color: white;
}


.footer-info, #copy-right {
    display: flex;
    justify-content: center;
}


.footer-container {
    background-color: #acb4a5;
    height: 210px;
}

@media screen and (max-width: 995px) {
    .footer-container {
        background-color: #acb4a5;
        height: 310px;
        min-width: 231px;
    }
}

.footer-text, .footer-text:hover {
    color: white;
    text-decoration: none;
}

/*End of Footer*/

/*Slider checkbox*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #214517;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3F7C7A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*End of slider checkbox*/

/*Error pages*/
.friendly-error {
    color: white;
    margin-right: 2px;
}

.friendly-error-item {
    text-align: center;
}

.error-page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.error-icon {
    margin-top: 5px;
    font-size: 300%;
}
/*Error pages end*/


.chevron-info {
    font-size: 0.7em;
}

/*Help section*/
.info-header {
    text-decoration: none;
    color: #e5ac9d;
    cursor: default;
}

.indented-text {
    padding-left: 20px;
}

.proto-tree-text {
    color: #db8c8d;
    font-weight: bold;
}

.info {
  margin: 10px 0;
}
/*Help section end*/


/*Credits*/
.credits {
    display: flex;
    justify-content: center;
    margin-bottom: 1.3%;
    font-size: 32px;
}

.credits-list {
    margin-top: 1.3%;
}

/*Credits end*/

/*Contacts*/
.contact {
    font-size: 18px;
}

/*Contacts end*/

/*Examples*/

.features-example {
    display: flex;
    justify-content: flex-start;
}

.pipelines-example1, .pipelines-example2, .pipelines-example3 {
    cursor: pointer;
}

/*Examples end*/