body {
	font: 1.4em Arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

[hidden] {
  display: none !important;
}

/*Navigation bar styles*/
.navbar-inverse {
	font-size:130%;
	color:white;
	background-color:#800000; /*#264040*/
}

.navbar-inverse .navbar-nav > .active{
      color: white;
      background: #cc0000;
 }
 
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
      color: white;
      background: #cc0000;
 }
 
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
      color: white;
      background: #cc0000; /*#10311F;*/
}

nav div.bottom-nav-bar { 
    height:7px;
    background-color:#ff4d4d;
 }

 div#bu-navbar {
    margin-left: 20%;
 }

 #logo {
    margin-left: 90%;
 }
 
 /*End of navigation bar styles */
 
.proto-tree-button, .proto-tree-button:focus {
    background-color: #666699;
    border: 1px solid #5c5c8a;
}
.proto-tree-button:hover, .proto-tree-button:active, .proto-tree-button:visited {
    background-color: #52527a !important;
    border: 1px solid  #47476b;

}
#GoAsync{
	width:7em;
}

div.panel-body {
	padding: 2px;
}


label.error {
    font-size:small;
    color: #3399ff;
}

#choose-file {
    background-color: #7575a3;
}
#first-file-info {
    background-color: #8585ad;
}

/*Filter options styles*/
div.ml-options, div#rpsblast-db, div.cov-cutoff, div.number-of-replicates {
    display: none;
}

div.nj-and-options, div#hmmer-db {
    display: null;
}

div.secondary-buttons, div.options {
    display: flex;
    justify-content:center;
    padding-top: 4px;
}

div.query-area {
    padding-left: 15%;
}

div.result-area {
    padding-left: 10%;
}

.my-textarea {
	margin-right: 3em;
}

.glyphicon.glyphicon-option-horizontal {
    font-size: 1.5em;
}

.fa.fa-twitter {
    font-size: 3em;
}
div.result-container {
    display: none;
    padding: 7px;
}

.acknowledgments, #copy-right {
    display: flex;
    justify-content:center;
}


.acknowledgments-container {
   background-color: #e0e0eb;
}
