<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="help">
    <div class="col-md-12 help-div">
        <div>
            <h3 class="text-head3" style="font-weight: bold"> Full pipeline mode. </h3>
            <p> There are two ways the pipeline can be used in this mode:</p>
            <h4 class="text-head4" style="font-weight: bold">
                1) Predicting protein features and building phylogenetic tree using full-length sequences.
            </h4>
            <p>
                If you want to use this option just paste your sequences or upload a file and click 'SUBMIT' button.
            </p>
            <h4  class="text-head4" style="font-weight: bold">
                2) Building phylogenetic tree using fragments of protein sequences and predicting protein features using full-length sequences.
            </h4>
            <p>
                If you want to use this option:
            </p>
            <p>
                a) Click "Add second area" button. New query area will appear.
            </p>
            <p>
                b) Put full-length sequences into the first area (or choose a file). Protein sequences in this area will be used to predict features.
            </p>
            <p>
                c) Put fragments of sequences into the second area (or choose a file). Protein sequences in this area will be used for alignment and building a tree.
            </p>
        </div>
        <hr/>
        <div>
            <h3 class="text-head3" style="font-weight: bold"> Partial pipeline mode. </h3>
            <p>
                If you have your own phylogenetic tree and the protein sequences used to produce the tree use this mode:
            </p>
            <p>
                a) Upload protein sequences used to build the tree ("Choose file with protein sequences" button).
            </p>
            <p>
                b) Optional, if you want the alignment to be ordered and enumerated according to the tree branches order, upload your alignment ("Choose file with alignment (optional)" button).
            </p>
            <p>
                c) Upload the tree in newick format ("Choose file with tree (Newick)" button).
            </p>
        </div>
    </div>

</div>