<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="main-navbar">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bu-navbar">
                        <span class="sr-only">Toggle Dropdown</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="logo" th:href="@{/prototree}" style="font-size:150%; color:#D8F0E3">ProtoTree</a>
                </div>

                <div class="navbar-collapse" id="bu-navbar">
                    <ul class="nav navbar-nav">
                        <li id="home"><a th:href="@{/prototree}">Home</a></li>
                        <li id="about"><a th:href="@{/about}">About</a></li>
                        <li id="help"><a th:href="@{/help}">Help</a></li>
                        <li id="credits"><a th:href="@{/credits}">Credits</a></li>
                        <li id="contact"><a th:href="@{/contact}">Contact</a></li>

                    </ul>
                </div>
            </div>
            <div class="bottom-nav-bar"></div>
        </nav>

        <div style="display: none">
            <span id="mainTab" th:text="${mainTab}"></span>
        </div>

    </div>


    <div th:fragment="copy" class="acknowledgments-container">
        <div class="row">
            <div class="col-md-6 acknowledgments">
                <h2> <a th:href="@{http://zhulinlab.org}"> ZHULIN LAB</a></h2>
                <a th:href="@{http://twitter.com/zhulinlab}">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="col-md-6 acknowledgments">
                <a th:href="@{https://www.osu.edu}">
                    <img th:src="@{/images/TheOhioStateUniversity-Stacked.jpg}" width="300" height="170">
                </a>
            </div>
        </div>
        <span id="copy-right">&copy; 2017 Vadim Gumerov</span>
    </div>

</body>

</html>