<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="main-navbar">
        <div class="wrapper">
            <div class="container-fluid logo-area">
                <div class="row">
                    <div class="col-md-6">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <a class="logo-text red-letters" th:href="@{/}" style="color: #c62f2d; font-size:350%; font-weight: bold">TREND</a>
                        <div class="logo-text"><span class="red-letters">TR</span>ee-based <span class="red-letters">E</span>xploration of <span class="red-letters">N</span>eighborhoods and <span class="red-letters">D</span>omains</div>
                    </div>
                    <div class="col-md-6">
                        <div class="protoTree-figure">
                            <a th:href="@{/}">
                                <img th:src="@{/images/ProtoTree.png}" width="500" height="200">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="navbar" class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bu-navbar">
                            <span class="sr-only">Toggle Dropdown</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bu-navbar">
                        <ul class="nav navbar-nav">
                            <li id="home"><a th:href="@{/}">Home</a></li>
                            <li id="domains"><a th:href="@{/domains}">Domains</a></li>
                            <li id="gene-neighborhoods"><a th:href="@{/gene-neighborhoods}">Neighborhoods</a></li>
                            <li id="help"><a th:href="@{/help}">Help</a></li>
                            <li id="protips"><a th:href="@{/protips}">ProTips</a></li>
                            <li id="contact"><a th:href="@{/contact}">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="trend-publication">
                                <a th:href="@{https://doi.org/10.1093/nar/gkaa243}" target="_blank">Gumerov VM, Zhulin IB (2020) Nucleic Acids Research, gkaa243</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-nav-bar"></div>
            </nav>
        </div>

        <div style="display: none">
            <span id="mainTab" th:text="${mainTab}"></span>
        </div>

        <div class="col-md-12 announcement" th:if="${maintenanceAnnounce}">
            <p>Maintenance works will be carried out <span class="boldFont" id="maintenanceDate" th:text="${maintenanceDate}"></span>
                We ask you to finish your jobs prior to this date. The server will be stopped and the running jobs will be lost.
                The server will start working <span class="boldFont" id="startDate" th:text="${startDate}"></span>
            </p>
        </div>

    </div>


    <div th:fragment="copy" class="footer-container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="row footer-info">
                    <h2> <a th:href="@{http://u.osu.edu/zhulinlab/}" class="footer-text" target="_blank">ZHULIN LAB </a></h2>
                </div>
                <div class="row footer-info">
                    <a th:href="@{http://twitter.com/zhulinlab}" class="btn btn-default btn-sm social" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 footer-info">
                <a th:href="@{https://www.osu.edu}" target="_blank">
                    <img th:src="@{/images/OSU.png}" width="220" height="150">
                </a>
            </div>
        </div>
        <p class="footer-text footer-info">This website is free and open to all users and there is no login requirement</p>
        <h4 id="copy-right" class="footer-text">&copy; 2019-<span id="current-year"></span>&nbsp; Vadim Gumerov</h4>
    </div>

</body>

</html>