<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}"/>
        <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="error-page">
            <div class="row">
                <div class="friendly-error-item">
                    <i class="fas fa-cogs error-icon"></i>
                </div>
                <div class="friendly-error-item">
                    <h1>Server error occurred!</h1>
                    <h2>Please try again later.</h2>
                </div>
                <div class="friendly-error-item">
                    <a th:href="@{/}">
                        <button class="btn-primary pipeline-button-selected btn btn-md">
                            <span class="friendly-error glyphicon glyphicon-home"></span>Go Home
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>