<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
</head>
    <body>
        <div class="error-page">
            <div class="row">
                <div class="friendly-error-item">
                    <i class="fas fa-cogs error-icon"></i>
                </div>
                <div class="friendly-error-item">
                    <h1>Sorry, we couldn't find the page you were looking for.</h1>
                </div>
                <div class="friendly-error-item">
                    <a th:href="@{/}">
                        <button class="btn-primary pipeline-button-selected btn btn-md">
                            <span class="friendly-error glyphicon glyphicon-home"></span>Go Home
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>