<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="evolution-navbar">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="protoTree"><a th:href="@{/evolution/prototree}">Proto Tree</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="proto-tree">
        <div class="col-md-8 my-textarea">
            <div class="row">
                <textarea id="first-file-area" class="form-control" placeholder="Paste names" rows="8"> </textarea>
            </div>
            OR <br />
            <div class="row">
                <label class="btn btn-default btn-lg">
                    Choose file with protein sequences <input id="first-file" type="file" style="display: none" multiple/>
                </label>
                <span class='label label-info' id="first-file-info"></span>
            </div> <br /> <br />

            <div class="row">
                <textarea id="second-file-area" class="form-control" placeholder="Paste names" rows="8"> </textarea>
            </div>
            OR <br />
            <div class="row">
                <label class="btn btn-default btn-lg">
                    Choose file with tree <input id="second-file" type="file" style="display: none" multiple/>
                </label>
                <span class='label label-info' id="second-file-info"></span>
            </div> <br /> <br />

            <div class="row">
                <textarea id="third-file-area" class="form-control" placeholder="Paste names" rows="8"> </textarea>
            </div>
            OR <br />
            <div class="row">
                <label class="btn btn-default btn-lg">
                    Choose file with aligned sequences <input id="third-file" type="file" style="display: none" multiple/>
                </label>
                <span class='label label-info' id="third-file-info"></span>
            </div>
            <div class="row">
                <button id="GoAsync" class="btn btn-primary btn-md pull-right" type="button">
                    <span>Go!</span>
                </button>
            </div>
        </div>
    </div>

    <div th:fragment="proto-tree-filter">
        <div class="col-md-2 panel panel-default">
            <div class="panel-body">
                <p class="text-primary">Set options:</p>
                <div class="form-group">
                    <form id="first">
                        <small>Alignment Algorithm:</small>
                        <select id="alignment-alg" class="form-control input-sm">
                            <option selected='selected' value="--retree 2 --maxiterate 0">FFT-NS-2</option>
                            <option value="--retree 2 --maxiterate 1000">FFT-NS-i</option>
                            <option value="--localpair">L-INS-i</option>
                            <option value="--genafpair">E-INS-i</option>
                            <option value="--globalpair">G-INS-i</option>
                        </select>
                        <small>Tree Building Method:</small>
                        <select id="tree-method" class="form-control input-sm">
                            <option selected='selected' value="JN">Neighbour Joining</option>
                            <option value="ML">Maximum Likelihood</option>
                            <option value="ME">Minimum Evolution</option>
                        </select>
                        <div class="ml-options">
                            <small>A.A. Substitution Model</small>
                            <select id="ml-subst-model" class="form-control input-sm">
                                <option selected='selected' value="jtt">Jones-Taylor-Thornton (JTT) model</option>
                                <option value="pm">Poisson model</option>
                                <option value="eim">Equal input model</option>
                                <option value="dm">Dayhoff model</option>
                                <option value="dmf">Dayhoff model with Freqs. (F+)</option>
                                <option value="jttf">JTT with Freqs. (F+) model</option>
                                <option value="wm">WAG model</option>
                                <option value="wmf">WAG with Freqs. (F+) model</option>
                                <option value="lg">LG model</option>
                                <option value="lgf">LG with Freqs. (F+) model</option>
                                <option value="grm">General Reversible Mitochondrial (mtREV)</option>
                                <option value="grmf">mtREV with Freqs. (F+) model</option>
                                <option value="grc">General Reversible Chloroplast (cpREV)</option>
                                <option value="grcf">cpREV with Freqs. (F+) model</option>
                                <option value="grt">General Reversible Transcriptase model (rtREV)</option>
                                <option value="grtf">rtREV with Freqs. (F+) model</option>
                            </select>
                        </div>
                        <div class="nj-and-me-options">
                            <small>A.A. Substitution Model</small>
                            <select id="nj_me-subst-model" class="form-control input-sm">
                                <option selected='selected' value="jtt">Jones-Taylor-Thornton (JTT) model</option>
                                <option value="nd">No. of differences</option>
                                <option value="pd">p-distance</option>
                                <option value="pm">Poisson model</option>
                                <option value="eim">Equal input model</option>
                                <option value="dm">Dayhoff model</option>
                            </select>
                        </div>
                        <small>A.A. Substitution Rate</small>
                        <select id="subst-rate" class="form-control input-sm">
                            <option selected='selected' value="ur">Uniform Rates</option>
                            <option value="gd">Gamma Distributed (G)</option>
                            <option value="ir">Has Invariant Sites (I)</option>
                            <option value="gir">Gamma Distributed With Invariant Sites (G+I)</option>
                        </select>
                        <div class="ml-options">
                            <small>Initial tree for ML</small>
                            <select id="initial-tree-ml" class="form-control input-sm">
                                <option selected='selected' value="njBio">Make initial tree automatically (Default - NJ/BioNJ)</option>
                                <option value="mp">Make initial tree automatically (Maximum parsimony)</option>
                                <option value="nj">Make initial tree automatically (Neighbor joining)</option>
                                <option value="bioNj">Make initial tree automatically (BioNJ)</option>
                            </select>
                        </div>
                        <small>Gaps and Missing Data</small>
                        <select id="gaps-missing" class="form-control input-sm">
                            <option selected='selected' value="compDel">Complete deletion</option>
                            <option value="partDel">Partial deletion</option>
                            <option value="pairDel">Pairwise deletion</option>
                        </select>
                        <div class="cov-cutoff">
                            <small>Site Coverage Cutoff</small>
                            <input value="95" id="site-cov-cutoff" name="site-cov-cutoff" type="text" class="form-control input-sm"/>
                        </div>
                        <div class="nj-and-me-options">
                            <small>Phylogeny Test</small>
                            <select id="nj_me-phylo-test" class="form-control input-sm">
                                <option selected='selected' value="none">None</option>
                                <option value="bm">Bootstrap method</option>
                                <option value="ib">Interior-branch test</option>
                            </select>
                        </div>
                        <div class="ml-options">
                            <small>Phylogeny Test</small>
                            <select id="ml-phylo-test" class="form-control input-sm">
                                <option selected='selected' value="none">None</option>
                                <option value="bm">Bootstrap method</option>
                            </select>
                        </div>
                        <small>Number of replicates</small>
                        <input value="100" id="number-of-replicates" name="number-of-replicates" type="text" class="form-control input-sm"/>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div th:fragment="proto-tree-filter">
        <div class="col-md-2 panel panel-default">
            <div class="panel-body">
                <p class="text-primary">Set options for protein features prediction:</p>
                <div class="form-group">
                    <form id="second">
                        <div class="radio">
                            <label>
                                <input id="hmmscan" name="dom-prediction-program" type="radio" value="hmmscan" checked="checked" />HMMER3
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input id="rpsblast" name="dom-prediction-program" type="radio" value="rpsblast"  />RPSBLAST
                            </label>
                        </div>
                        <div id="hmmer-db">
                            <small>HMMER Databse</small>
                            <select class="form-control input-sm">
                                <option id="pfam31" selected='selected' value="pfam31">Pfam 31</option>
                            </select>
                        </div>
                        <div id="rpsblast-db">
                            <small>RPSBLAST Databse</small>
                            <select class="form-control input-sm">
                                <option id="cdd" selected='selected' value="cdd">CDD</option>
                                <option id="pfam" value="pfam">Pfam</option>
                                <option id="cog" value="cog">COG</option>
                                <option id="kog" value="kog">KOG</option>
                                <option id="smart" value="smart">SMART</option>
                                <option id="prk" value="prk">PRK</option>
                                <option id="tigr" value="tigr">TIGR</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>