<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="addContent">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130788027-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-130788027-2');
    </script>
    <meta charset="UTF-8"/>
    <title>TREND</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css}"/>
    <link th:href="@{/css/main.css?version=2}" rel="stylesheet" type="text/css" />

</head>
<body>
    <div th:replace="common :: main-navbar"></div>

    <div class="container-fluid main-container">
        <div class="form-group">
            <div th:fragment="addContent(fragmentsMain, searchArea, filter, navigation, result, infoFragment)">
                <div class="col-md-12 query-area">
                    <div th:replace="${filter} ? ~{${fragmentsMain} :: ${filter}} : ~{}"></div>
                    <div th:replace="${searchArea} ? ~{${fragmentsMain} :: ${searchArea}} : ~{}"></div>
                    <div th:replace="${navigation} ? ~{${fragmentsMain} :: ${navigation}} : ~{}"></div>
                </div>
                <div class="col-md-12 result-area">
                    <div th:replace="${result} ? ~{${fragmentsMain} :: ${result}} : ~{}"></div>
                </div>
                <div class="col-md-12 about">
                    <div th:replace="${infoFragment} ? ~{${fragmentsMain} :: ${infoFragment}} : ~{}"></div>
                </div>
           </div>
        </div>
    </div>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js}"></script>
    <script th:src="@{https://d3js.org/d3.v5.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js}"></script>
    <script th:src="@{http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js}" ></script>
    <script th:src="@{/js/vendor/jsphylosvg.js}"></script>
    <script th:src="@{/js/vendor/newick_modified.js}"></script>
    <script th:src="@{/js/navbar-tabs-and-common.js?version=1}"></script>
    <script th:src="@{${fieldsProcessing}}"></script>
    <script th:src="@{${resultProcessingCommon}}"></script>
    <script th:src="@{${sendOrGiveResult}}"></script>
    <script th:src="@{${getFieldsValues}}"></script>
    <script th:src="@{${specificJs}}"></script>



    <footer>
        <div th:replace="common :: copy"></div>
    </footer>
</body>
</html>