<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <body>

        <div th:fragment="sequence-navbar">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li id="makeUnique"><a th:href="@{/sequence/make-unique}">Make Unique</a></li>
                            <li id="getSeqByName"><a th:href="@{/sequence/get-by-name}">Get By Name</a></li>
                            <li id="delete-by-name"><a th:href="@{/sequence/delete-by-name}">Delete By Name</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="sequence-get-by-name">
            <div class="col-md-4 my-textarea">
                <div class="row">
                    <textarea id="first-file-area" class="form-control" placeholder="Paste names" rows="8"> </textarea>
                </div>
                <div class="row">
                    OR <br />
                    <label class="btn btn-default">
                        Choose File <input id="first-file" type="file" style="display: none"/>
                    </label>
                    <span class='label label-info' id="first-file-info"></span>
                </div>
            </div>
            <div class="col-md-4 my-textarea">
                <div class="row">
                    <textarea id="second-file-area" class="form-control" placeholder="Paste sequences" rows="8"> </textarea>
                </div>
                <div class="row">
                    OR <br />
                    <label class="btn btn-default">
                        Choose File <input id="second-file" type="file" style="display: none"/>
                    </label> <span class='label label-info' id="second-file-info"></span>
                </div>
                <div class="row">
                    <button id="Go" class="btn btn-primary btn-md pull-right" type="button">
                        <span>Go!</span>
                    </button>
                </div>
            </div>

        </div>

        <div th:fragment="sequence-getByName-filter">
            <div class="col-md-2 panel panel-default">
                <div class="panel-body">
                    <p class="text-primary">Set options:</p>
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <div class="form-group">
                                <form id ="first">
                                    <small>First file delimiter:</small>
                                    <select id="first-delim" class="form-control input-sm">
                                        <option selected='selected' disabled="disabled">select</option>
                                        <option>tab</option>
                                        <option>comma</option>
                                        <option>semicolon</option>
                                        <option>vertical bar</option>
                                    </select>
                                    <small>First file column:</small>
                                    <input id="first-col" name="first-col" type="text" class="form-control input-sm"/>
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <form id ="second">
                                    <small>Second file delimiter:</small>
                                    <select id="second-delim" class="form-control input-sm">
                                        <option selected='selected' disabled="disabled">select</option>
                                        <option>tab</option>
                                        <option>comma</option>
                                        <option>semicolon</option>
                                        <option>vertical bar</option>
                                    </select>
                                    <small>Second file column:</small>
                                    <input id="second-col" name="second-col" type="text" class="form-control input-sm"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:fragment="sequence-make-unique">
            <div class="col-md-8 my-textarea">
                <div class="row">
                    <textarea id="first-file-area" class="form-control" placeholder="Paste sequences in fasta format." rows="8"> </textarea>
                </div>
                <div class="row">
                    OR <br />
                    <label class="btn btn-default">
                        Choose File <input id="first-file" type="file" style="display: none"/>
                    </label>
                    <span class='label label-info' id="first-file-info"></span>
                </div>
                <div class="row">
                    <button id="Go" class="btn btn-primary btn-md pull-right" type="button">
                        <span>Go!</span>
                    </button>
                </div>
            </div>
        </div>

        <div th:fragment="sequence-delete-by-name">
            <div class="col-md-4 my-textarea">
                <div class="row">
                    <textarea id="first-file-area" class="form-control" placeholder="Paste names" rows="8"> </textarea>
                </div>
                <div class="row">
                    OR <br />
                    <label class="btn btn-default">
                        Choose File <input id="first-file" type="file" style="display: none"/>
                    </label>
                    <span class='label label-info' id="first-file-info"></span>
                </div>
            </div>
            <div class="col-md-4 my-textarea">
                <div class="row">
                    <textarea id="second-file-area" class="form-control" placeholder="Paste sequences" rows="8"> </textarea>
                </div>
                <div class="row">
                    OR <br />
                    <label class="btn btn-default">
                        Choose File <input id="second-file" type="file" style="display: none"/>
                    </label> <span class='label label-info' id="second-file-info"></span>
                </div>
                <div class="row">
                    <button id="Go" class="btn btn-primary btn-md pull-right" type="button">
                        <span>Go!</span>
                    </button>
                </div>
            </div>
        </div>

    </body>

</html>